.prompt-box {
    position: fixed;
    bottom: 20px;

    width: min(900px, 90vw);
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.prompt-box textarea {
    flex: 1;      /* takes remaining space */
    min-width: 0; /* prevents overflow */
    margin: 0 auto;
}

.prompt-box button {
    width: 100px; /* fixed width */
    flex-shrink: 0;
    background-color: antiquewhite;
    color: black;
    border-radius: 50px;
}

.prompt-box button:hover{
    background-color: aliceblue;
}