.chat-empty-state {
    margin: clamp(30px, 7vh, 200px) auto 0;
}

.chat-empty-state h2{
    font-size: clamp(15px, 4vw, 50px);
    margin-bottom: clamp(0px, 3vh, 50px);
}

.chat-empty-state h2,
.chat-empty-state p,
.chat-empty-state li,
.chat-empty-state h3 {
    opacity: 0;
}

/* H2 appears first */
.chat-empty-state h2 {
    animation: fadeUp 0.6s ease forwards;
}

/* Then paragraph */
.chat-empty-state p {
    animation: fadeUp 0.6s ease forwards;
    animation-delay: 0.5s;
}

/* Then h3 */
.chat-empty-state h3 {
    animation: fadeUp 1s ease forwards;
    animation-delay: 0.8s;
}

/* Buttons appear left → right */
.chat-empty-state li:nth-child(1) {
    animation: fadeUp 0.5s ease forwards;
    animation-delay: 1s;
}

.chat-empty-state li:nth-child(2) {
    animation: fadeUp 0.5s ease forwards;
    animation-delay: 1.2s;
}

.chat-empty-state li:nth-child(3) {
    animation: fadeUp 0.5s ease forwards;
    animation-delay: 1.4s;
}

.chat-empty-state li:nth-child(4) {
    animation: fadeUp 0.5s ease forwards;
    animation-delay: 1.6s;
}

.chat-empty-state li:nth-child(5) {
    animation: fadeUp 0.5s ease forwards;
    animation-delay: 1.6s;
}

.chat-empty-state ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.chat-empty-state button {
    background: none;
    border: 1px solid whitesmoke;
    border-radius: 30px;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
        filter: blur(4px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
        filter: blur(0);
    }
}