.nav-bar{
    display: flex;
    align-items: baseline;
    padding: clamp(5px, 2vh, 20px) clamp(5px, 3vw, 45px);
}

.nav-bar-left{
    display: flex;
    margin-right: auto;
    gap: clamp(15px, 3vw, 30px);
    align-items: baseline;
}

.nav-bar-right{
    display: flex;
    margin-left: auto;
}

.nav-bar h1{
    font-size: clamp(20px, 3vw, 40px);
}

.nav-bar button{
    width: fit-content;
    height: fit-content;
    background: none;
}

.nav-bar button:hover{
    background-color: aliceblue;
    color: black;
    transition: all ease-in-out 0.2s;
}