.prompt-box {
    position: fixed;
    bottom: 20px;

    width: min(900px, 90vw);
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    transition: all ease-in-out 0.5s;
}

.prompt-box textarea {
    flex: 1;     
    min-width: 0;
    margin: 0 auto;
    border-radius: clamp(5px, 2vw, 50px);
    border: 1px gray solid;
    transition: all ease-in-out 0.5s;
}

.prompt-box textarea:focus{
    border: 1px plum solid;
    transform: scale(1.02) translateY(-5px);
    box-shadow: 0 0 0 3px rgba(221, 160, 221, 0.15);
}

.prompt-box textarea:hover{
    border: 1px lightslategray solid;
    transform: scale(1.02) translateY(-5px);
    box-shadow: 0 0 0 3px rgba(221, 160, 221, 0.15);
}

.prompt-box button {
    width: 100px;
    flex-shrink: 0;
    background-color: antiquewhite;
    color: black;
    border-radius: 50px;
    transition: all ease-in-out 0.5s;

}

.prompt-box button:hover{
    background-color: aliceblue;
    transform: scale(1.02) translateY(-5px);
    box-shadow: 0 0 0 3px rgba(221, 160, 221, 0.15);
}